<div *ngIf="userService.aggregation_data_front!==undefined" class="container">

  <div class="row align-items-center">
    <div class="col-4">
      <nb-card>
        <nb-card-header>No. of IPs</nb-card-header>
        <nb-card-body>
          <h3>{{ userService?.count["ip"] }}</h3>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-4">
      <nb-card>
        <nb-card-header>No. of Countries</nb-card-header>
        <nb-card-body>
          <h3>{{ userService?.count["country"] }}</h3>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-4">
      <nb-card>
        <nb-card-header>No. of ISPs</nb-card-header>
        <nb-card-body>
          <h3>{{ userService?.count["isp"] }}</h3>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row align-items-center">

    <div class="col-6">
      <nb-reveal-card>
        <nb-card-front>
          <nb-card>
            <nb-card-header>Top 5 Cities (India)</nb-card-header>
            <nb-card-body>
              <ngx-echarts-pie [pieChartName]="'Cities in India'" [pieChartData]="dataFront[0]"></ngx-echarts-pie>
            </nb-card-body>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
          <nb-card>
            <nb-card-header>Top 5 Countries</nb-card-header>
            <nb-card-body>
              <ngx-echarts-pie [pieChartName]="'Countries'" [pieChartData]="dataBack[0]"></ngx-echarts-pie>
            </nb-card-body>
          </nb-card>
        </nb-card-back>
      </nb-reveal-card>
    </div>


    <div class="col-6">
      <nb-reveal-card>
        <nb-card-front>
          <nb-card>
            <nb-card-header>Top 5 ISPs (India)</nb-card-header>
            <nb-card-body> 
              <ngx-echarts-pie [pieChartName]="'Cities in India'" [pieChartData]="dataFront[1]"></ngx-echarts-pie>
            </nb-card-body>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
          <nb-card>
            <nb-card-header>Top 5 Internet Service Providers</nb-card-header>
            <nb-card-body>
              <ngx-echarts-pie [pieChartName]="'ISP'" [pieChartData]="dataBack[1]"></ngx-echarts-pie>
            </nb-card-body>
          </nb-card>
        </nb-card-back>
      </nb-reveal-card>
    </div>

  </div>

  <div class="row">

    <div class="col-12">
      <nb-card>
        <nb-card-header>Country Wide Distribution</nb-card-header>
        <nb-card-body *ngIf="bubbleMapData!==undefined" >
          <ngx-bubble-map [bubbleMapData]="bubbleMapData"></ngx-bubble-map>
        </nb-card-body>
      </nb-card>
    </div>

  </div>

  <!-- <div class="col-6">
    <nb-card>
      <nb-card-header>Horizontal Bar Graph - Country</nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div> -->

</div>